@font-face {
  font-family: "interregular";
  src: url("/src/assets/fonts/inter-regular-webfont.woff2") format("woff2"),
    url("/src/assets/fonts/inter-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "interbold";
  src: url("/src/assets/fonts/inter-bold-webfont.woff2") format("woff2"),
    url("/src/assets/fonts/inter-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "intermedium";
  src: url("/src/assets/fonts/inter-bold-webfont.woff2") format("woff2"),
    url("/src/assets/fonts/inter-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

body {
  font-family: "Kumbh Sans";
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

* {
  user-select: none;
}

p {
  margin: 0;
}

#app-container,
body {
  width: 100vw;
  height: 100vh;
}

textarea:focus,
input:focus {
  outline: none;
}
