@font-face {
  font-family: "righteousregular";
  src: url("chrome-extension://__MSG_@@extension_id__/righteous-regular-webfont.woff2")
      format("woff2"),
    url("chrome-extension://__MSG_@@extension_id__/righteous-regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "interthin";
  src: url("chrome-extension://__MSG_@@extension_id__/inter-thin-webfont.woff2")
      format("woff2"),
    url("chrome-extension://__MSG_@@extension_id__/inter-thin-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "interregular";
  src: url("chrome-extension://__MSG_@@extension_id__/inter-regular-webfont.woff2")
      format("woff2"),
    url("chrome-extension://__MSG_@@extension_id__/inter-regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "interextra_bold";
  src: url("chrome-extension://__MSG_@@extension_id__/inter-extrabold-webfont.woff2")
      format("woff2"),
    url("chrome-extension://__MSG_@@extension_id__/inter-extrabold-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "interbold";
  src: url("chrome-extension://__MSG_@@extension_id__/inter-bold-webfont.woff2")
      format("woff2"),
    url("chrome-extension://__MSG_@@extension_id__/inter-bold-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "interitalic";
  src: url("chrome-extension://__MSG_@@extension_id__/inter-italic-webfont.woff2")
      format("woff2"),
    url("chrome-extension://__MSG_@@extension_id__/inter-italic-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "intermedium";
  src: url("chrome-extension://__MSG_@@extension_id__/inter-medium-webfont.woff2")
      format("woff2"),
    url("chrome-extension://__MSG_@@extension_id__/inter-medium-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
